@font-face {
    font-family: "kiona-regular";
    src: url("../font/kiona-regular.ttf");
}
@font-face {
    font-family: "berthold-header";
    src: url("../font/berthold-header.otf");
}
@font-face {
    font-family: "berthold-title";
    src: url("../font/berthold-title.ttf");
}
@font-face {
    font-family: "berthold-paragraph";
    src: url("../font/berthold-paragraph.otf");
}
@font-face {
    font-family: "nexa-regular";
    src: url("../font/nexa-x/NexaBold.otf");
}
@font-face {
    font-family: "nexa-book";
    src: url("../font/nexa-x/NexaBook.otf");
}
@font-face {
    font-family: "nexa-heavy";
    src: url("../font/nexa-x/NexaHeavy.otf");
}
@font-face {
    font-family: "adobe-caslon-pro-regular";
    src: url("../font/adobe-caslon-pro/ACaslonPro-Regular.otf");
}
@font-face {
    font-family: "adobe-caslon-pro-bold";
    src: url("../font/adobe-caslon-pro/ACaslonPro-Bold.otf");
}
html {
    scroll-behavior: smooth;
}
.section {
    background-color: white;
    height: 100vh;
    color: black;
    font-family: adobe-caslon-pro-regular;
    font-size: 2em;
}
h1 {
    font-family: kiona-regular;
}
h2 {
    font-family: nexa-regular;
}
h3 {
    font-family: adobe-caslon-pro-regular;
}
h4, h5 {
    font-size: 0.5em;
    text-transform: uppercase;
}
h4 {
    font-family: nexa-heavy;
}
h5 {
    font-family: nexa-book;
}
a:hover {
    text-decoration: none;
}
/* Menu Bar */
#menu {
    font-family: nexa-regular;
    font-size: 1.5em;
    color: white;
    display: flex;
    position: fixed;
    padding: 1.5vh;
    width: 100%;

		z-index:9;
}
#menu > div {
    flex: 1;
    text-align: center;
}
#menu .menu-logo {
    flex: 3;
}
.menu-logo img {
    height:5vh;
}
/* Home */
.black-background {
    background-color: black;
    transition: 0.3s all;
    color: white;
}
.black-background a {
    color: white;
}
#tagline {
    font-family: adobe-caslon-pro-regular;
    font-size: 1em;
    color: white;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: -10vh;
}
#tagline img {
    height: 30vh;
    margin: 10px;
}
#home .arrow {
    text-align: center;
    margin-top: -2vh;
    font-size: 1.5em;
}
.arrow a {
    color: white;
}
.white-background {
    background-color: white;
}
.white-background a {
    color: black;
}
.none {
    display: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#home ul li a span {
    background: white;
}
#home ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.static {
    position: absolute;
    z-index: 9;
}

/* Service */
#service .center {
    flex-direction: column;
}
.gray-background {
    background-color: #1A1A1A;
    color: white;
}
.homepage-title {
    display: flex;
    align-items: center;
    font-size: 2em;
    text-align: center;
}
.homepage-title > img {
    height: 1em;
    width: 1em;
    margin-top: -0.2em;
    margin-right: 0.3em;
}
.headline {
    font-size: 0.7em;
    text-align: center;
    font-family: adobe-caslon-pro-regular;
    margin: 1em 15vw;
    max-width: 600px;
}
.paragraph {
    display: flex;
    flex-direction: row;
}
#service .paragraph {
    margin: 0vw 15vw;
    max-width: 600px;
}
#service .paragraph {
    font-size: 0.5em;
    text-align: left;
    font-family: adobe-caslon-pro-regular;
}
#service .paragraph > div {
    margin: 1em;
}
.paragraph > div {
    flex: 1;
}


/* Portfolio */
#portfolio .center {
    flex-direction: column;
}
#portfolio a {
    color: white;
}
#portfolio .paragraph img {
    height: 25vw;
}
#portfolio .paragraph > div {
    margin: 0.5em;
}
.content {
    position: absolute;
    flex-direction: column;
    height: 25vw;
    width: 25vw;
    background: rgba(0, 0, 0, 0.7);
}
.content:hover {
    background: rgba(0, 0, 0, 0.2);
}
#portfolio .paragraph {
    margin-top: 8vh;
}
/* Our value */
#value .center {
    flex-direction: column;
}
.value-image img {
    height: 35vw;
}
.values img {
    height: 15vh;
}
#value .values {
    font-family: adobe-caslon-pro-regular;
    font-size: 0.7em;
    text-align: right;
}
.values > div {
    border-bottom: 1px solid #999;
    padding-left: 2em;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* Contact */
#contact {
    font-size: 1.5em;
    font-family: nexa-book;
    text-transform: uppercase;
}
#contact img {
    height: 25vh;
    margin: 1.5em;
}
#contact .center{
    flex-direction: column;
    text-align: center;
}
#contact i {
    margin-right: 1em;
}
.data {
    text-align: left;
}
.footer {
    font-family: nexa-regular;
    position: absolute;
    padding-top: 90vh;
}
/* Portfolio Page */
.black-shape {
    position: absolute;
    z-index: 9;
    width: 40vh;
    height: 100vh;
    margin-left: 10vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
.background{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}
.insection {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
#portfolio-page .center {
    flex-direction: column;
}
.shape-content {
    position: absolute;
    width: 40vh;
    height: 70vh;
}
#portfolio-page h4,h5 {
    font-size: 0.8em;
}
#portfolio-page ul li a span {
    background: white;
}
#portfolio-page ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Detail Page */
#detail-page .paragraph > div {
    flex: 1;
}
.detail div {
    border-left: 1px solid #999;
    padding: 1em;
}
#detail-page h3 {
    font-size: 0.6em;
}