@font-face {
    font-family: "kiona-regular";
    src: url("../font/kiona/kiona-regular.ttf");
}
@font-face {
    font-family: "berthold-light";
    src: url("../font/berthold/berthold-light.otf");
}
@font-face {
    font-family: "berthold-regular";
    src: url("../font/berthold/berthold-regular.otf");
}
@font-face {
    font-family: "berthold-bold";
    src: url("../font/berthold/berthold-bold.otf");
}
@font-face {
    font-family: "nexa-book";
    src: url("../font/nexa-x/NexaBook.otf");
}
@font-face {
    font-family: "nexa-regular";
    src: url("../font/nexa-x/NexaBold.otf");
}
@font-face {
    font-family: "nexa-heavy";
    src: url("../font/nexa-x/NexaHeavy.otf");
}
.font1 {
    font-family: kiona-regular;
}
.font2 {
    font-family: berthold-light;
}
.font3 {
    font-family: berthold-regular;
}
.font4 {
    font-family: berthold-bold;
}
.font5 {
    font-family: nexa-book;
}
.font6 {
    font-family: nexa-regular;
}
.font7 {
    font-family: nexa-heavy;
}
/* ============== */
html {
    scroll-behavior: smooth;
}
.section {
    background-color: white;
    height: 100vh;
    color: black;
    font-family: adobe-caslon-pro-regular;
    font-size: 2em;
}
h1 {
    font-family: kiona-regular;
}
h2 {
    font-family: nexa-regular;
}
h3 {
    font-family: adobe-caslon-pro-regular;
}
h4, h5 {
    font-size: 0.5em;
    text-transform: uppercase;
}
h4 {
    font-family: nexa-heavy;
}
h5 {
    font-family: nexa-book;
}
a:hover {
    text-decoration: none;
}
/* Menu Bar */
#menu {
    font-family: kiona-regular;
    font-size: 1em;
    color: white;
    display: flex;
    position: fixed;
    padding: 1vh;
    width: 100%;
    z-index:9;
}
#menu > div {
    flex: 1;
    text-align: center;
}
#menu .menu-logo {
    flex: 1;
}
#menu .menu-filler-corner {
    flex: 1;
}
.menu-logo img {
    height:3vh;
}
#menu .menu-filler {
    flex: 1;
}
/* Collapsed Menu */
/* .menu-burger img {
    height: 2em;
    margin: -7px;
}
.menu-burger {
    display: none;
}
#collapsed.collapse.in {
    display: flex;
}
#collapsed.collapse {
    display: none;
}
#collapsed {
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-content: center;
}
#collapsed > div {
    flex: 1;
}
#collapsed a{
    color: white;
    font-family: nexa-regular;
    font-size: 1.5em;
} */
@media only screen and (max-width: 992px) {
    #menu .menu-filler {
        flex: 0;
    }   
    #menu .menu-logo {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    #menu .menu-filler-corner {
        flex: 0;
    }   
}
@media only screen and (max-width: 576px) {
    #menu {
        display: none;
    }
    /* #menu > div{
        display: none;
    } */
    /* #menu .menu-filler {
        display: block;
        flex: 8;
    }
    #menu .menu-burger {
        display: block;
        flex: 1;
    } */
    
}
/* Home */
.black-background {
    background-color: black;
    transition: 0.3s all;
    color: white;
}
.black-background a {
    color: white;
}
#tagline {
    font-family: adobe-caslon-pro-regular;
    font-size: 1em;
    color: white;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: -10vh;
}
#tagline img {
    max-height: 30vh;
    max-width: 50vw;
    margin: 10px;
}
#home .arrow {
    text-align: center;
    margin-top: -2vh;
    font-size: 1.5em;
}
.arrow a {
    color: white;
}
.white-background {
    background-color: white;
}
.white-background a {
    color: black;
}
.none {
    display: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#home ul li a span {
    background: white;
}
#home ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.static {
    position: absolute;
    z-index: 9;
}
.fp-controlArrow.fp-next {
    border-color: transparent;
} 
.fp-controlArrow.fp-prev {
    border-color: transparent;
} 
/* Service */
#service {
    font-family: berthold-light;
}
#service .center {
    flex-direction: column;
}
.gray-background {
    background-color: #1A1A1A;
    color: white;
}
.homepage-title {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    text-align: center;
    font-family: kiona-regular;
}
.homepage-title > img {
    height: 1em;
    width: 1em;
    margin-bottom: -0.2em;
    margin-right: 0.3em;
}
#service .paragraph.center {
    flex-direction: row;
    align-items: flex-start;
}
#service .paragraph {
    max-width: 1000px;
}
#service .paragraph > div {
    flex: 1;
    padding: 1em;
    text-align: center;
}
.title {
    border-bottom: 1px solid #999;
    font-size: 1em;
    margin: 1em;
}
.description {
    font-size: 0.5em;
}
#service h1 {
    font-family: berthold-light;
    font-size: 0.7em;
}
.typewriter {
    margin: 1em;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: 0em; Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}
@media only screen and (max-width: 992px) {
    #service .paragraph > div {
        padding: 0.2em;
    }
    .typewriter h1 {
        letter-spacing: 0.1em;
    }
}
@media only screen and (max-width: 768px) {
    .typewriter {
        display: none;
    }
    #service .paragraph.center {
        flex-direction: column;
        align-items: center;
    }
    #service .paragraph {
        max-width: 500px;
        margin: 0 1em;
    }
}
@media only screen and (max-width: 576px) {
    .title {
        margin: 0.3em 0 0 0;
    }
    .typewriter, #service i {
        margin-top: 0.5em;
        font-size: 0.7em;
    }
    #service .fa {
        font-weight :600;
    }
}
/* .headline {
    font-size: 0.7em;
    text-align: center;
    font-family: adobe-caslon-pro-regular;
    margin: 1em 15vw;
    max-width: 600px;
}

#service .paragraph {
    margin: 0vw 15vw;
    max-width: 600px;
}
#service .paragraph {
    font-size: 0.5em;
    text-align: left;
    font-family: adobe-caslon-pro-regular;
}
#service .paragraph > div {
    margin: 1em;
}

@media only screen and (max-width: 768px) {
    #service .paragraph {
        font-size: 0.4em;
    }
    .headline {
        font-size: 0.5em;
    }
    .homepage-title {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 576px) {
    #service .paragraph {
        font-size: 0.35em;
    }
    .headline {
        font-size: 0.4em;
    }
    .homepage-title {
        font-size: 1em;
    }
} */


/* Portfolio */
#portfolio .center {
    flex-direction: column;
}
#portfolio a {
    color: white;
}
#portfolio .paragraph img {
    height: 25vw;
}
#portfolio .paragraph > div {
    margin: 0.5em;
}
.content {
    position: absolute;
    flex-direction: column;
    height: 25vw;
    width: 25vw;    
    background: rgba(0, 0, 0, 0.7);
}
.content:hover {
    background: rgba(0, 0, 0, 0.2);
}
#portfolio .paragraph {
    margin-top: 8vh;
}
@media only screen and (max-width: 576px) {
    #portfolio .paragraph {
        flex-direction: column;
    }
    .content, #portfolio .paragraph img {
        min-height: 23vh;
        min-width: 23vh;
    }
    #portfolio .paragraph {
        margin-top: 0vh;
    }
    h4, h5 {
        font-size: 0.4em;
    }
}
/* Our value */
#value {
    font-family: berthold-light;
}
.paragraph {
    display: flex;
    flex-direction: row;
}
.paragraph > div {
    flex: 1;
} 
#value .center {
    flex-direction: column;
}
.value-image img {
    height: 35vw;
}
.values img {
    max-height: 15vh;
}
#value .values {
    font-family: berthold-light;
    font-size: 0.7em;
    text-align: right;
}
.values > div {
    border-bottom: 1px solid #999;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    max-width: 400px;
}
#value h2 {
    font-family: berthold-light;
    font-size: 0.7em;
}
@media only screen and (max-width: 768px) {
    .value-image {
        display: none;
    }
    .values {
        margin: 1em;
    }
}
@media only screen and (max-width: 576px) {
    .values > div {
        padding-left: 0px;
        margin-left: 0px;
        padding-top: 0em;
        padding-bottom: 0em;
    }
    #value .values {
        font-size: 0.6em;
    }
}

/* Contact */
#contact {
    font-size: 1.5em;
    font-family: nexa-book;
}
#contact img {
    max-height: 25vh;
    max-width: 5v6w;
    margin: 1.5em;
}
#contact .center{
    flex-direction: column;
    text-align: center;
}
#contact i {
    margin-right: 1em;
}
.data {
    text-align: left;
}
.footer {
    font-family: nexa-regular;
    position: absolute;
    padding-top: 90vh;
}
@media only screen and (max-width: 576px) {
    #contact {
        font-size: 1em;
    }
}
/* Portfolio Page */
.black-shape {
    position: absolute;
    z-index: 9;
    width: 40vh;
    height: 100vh;
    margin-left: 10vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
.background {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}
.insection {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
#portfolio-page .center {
    flex-direction: column;
}
.shape-content {
    position: absolute;
    width: 40vh;
    height: 70vh;
}
#portfolio-page h4 {
    font-size: 0.8em;
}
#portfolio-page h5 {
    font-size: 0.8em;
}
#portfolio-page ul li a span {
    background: white;
}
#portfolio-page ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .shape-content {
        width: 100vw;
        height: auto;
    }
    .black-shape {
        width: 100vw;
        height: 5em;
        margin-left: 0px;
        bottom: 10vh;
        padding: 1em 0px;
    }
}
/* Detail Page */
#detail-page .paragraph > div {
    flex: 1;
}
.detail div {
    border-left: 1px solid #999;
    padding: 1em;
}
#detail-page h3 {
    font-size: 0.6em;
}
@media only screen and (max-width: 768px) {
    #detail-page h3 {
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 576px) {
    #detail-page h3 {
        font-size: 0.5em;
    }
    #detail-page .paragraph {
        display: block;
    }
    .detail div {
        margin-left: 2em;
    }
}